body {
  background: url('./1643553599_5-abrakadabra-fun-p-viktorina-fon-7.jpeg') no-repeat ;
  background-size: cover;
}

.form-reg {
  margin-right: 20px;
}

.form-input {
 width: 400px;
 margin-top: 20%;
 margin-left: 10%;
}
h1 {
  font-family: fst-normal;
  margin-bottom: 20px;
}
.row mb-3 {
  width: 100px;
  display: flex;
}
/* .registration {
  margin-left: ;
} */

/* label{
  width: 150px;
} */
